<div class="content">
  <div class="container_12">
    <p id="notice"><%= notice %></p>

		<div class="grid_12" style="text-align: center !important">
        <div class= "optionsDiv"> 
          <%= link_to 'HD List', "/orders/users" %>
        </div>
        <div class= "optionsDiv"> 
          <%= link_to 'Item Stats', "/menu_items/today" %>
        </div>   
      <div class= "optionsDiv"> 
        <%= link_to "Menu", menu_items_path %>
      </div>
      <h3 class="head2">Orders in the Last 24hrs</h3>
    </div>

    <div class="tabs tb gallery">
      <div class="div-nav  ">
        <div class="grid_12">
          <ul class="nav">
            <li class="selected"><a href="#tab-1" class=""></a></li>
          </ul>
        </div>    
      </div>
      
     <div class="div-tabs">
      <div  id="tab-1" class="tab-content gallery1">
        <% @orders.each do |order| %>
          <div class="grid_3">
            <div class="prevOrder"><a href="/orders/<%= order.id %>" class="gal"><% order.order_items.each do |i|%><%= i.menu_item.name %>(<%= i.flavor %>)<br><%end%></a></div>
            <div class="col2"> <a href="/orders/user?user_id=<%=order.user.id%>"><%= order.user.name%></a>|<%= order.created_at.to_date %>| <%= order.get_price.format %></div>
          </div>
        <% end %>
      </div>
     </div>
	  
	   </div>


  </div>
</div>