<!DOCTYPE html>
<html>
  <head>
    <title>Hangry</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <div class="container_12">
	    <div class="grid_12"> 
	    	<div class="signOut">
		    	<%= current_user.name%> |<%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class=>"signOut" %>
		    </div>
		    <div class="socials">
		      <a href="#"></a>
		      <a href="#"></a>
		      <a href="#"> </a>
		      <a href="#" class="last"></a>
		    </div>
		    <h1 class="mainTitle"><a href="/">HANGRY DEVELOPERS!</a> </h1>
				<div class="clear"></div>
      </div>
    </div>
  </head>

  <body>
  	<div id="orderDiv" class="cartDiv">  		
      <% if @order = User.last.orders.where(is_placed?: false).last %>
        <%= render :partial=> '/orders/order' %>
        <input type="hidden" id="order_id" value="<%= @order_cart.id rescue nil%>">
      <% end %>
      <input type="hidden" id="order_id" value="">
    </div>
    <%= yield %>
  </body>

  <footer>    
	  <div class="container_12">
	    <h1 class="footTitle"><a href="/">HANGRY DEVELOPERS!</a> </h1>
	    <div class="grid_6 prefix_3">
	      <div class="copy">
	      &copy; 2016 | <a href="#">Privacy Policy</a>
	      </div>
	    </div>
	  </div>
	</footer>
</html>
